<style>
    
    /* Chuyển các td thành các block elements */
    td {
        display: block;
        margin-bottom: 10px; /* Khoảng cách giữa các nút */
    }
</style>

<table border="1">
    <tr>
        <td>
            <a href="/admincategory">Admin Category</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/adminpage">Admin Page</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/adminproduct">Admin Product</a>
        </td>
    </tr>
</table>
