<style>
    
    /* Chuyển các td thành các block elements */
    td {
        display: block;
        margin-bottom: 10px; /* Khoảng cách giữa các nút */
    }
</style>

<table border="1">
    <tr>
        <td>
            <a href="/admincategory">Categories</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/adminpage">Pages</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/adminproduct">Products</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/adminorder">Orders</a>
        </td>
    </tr>
</table>
